@model DataAccess.Company

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <h2>@Model.CompanyName</h2>
        <p>
            @Model.Decription
        </p>
        <address>
            404, Apollo Arcade, Off S.G. Highway Opp Sola Bhagvat,Chanakyapuri,Ahmedabad, India<br />
            Phone: 079-27774161<br />
            Email: info[at]satvasolutions.com<br />
        </address>
    </div>
</div>
